


<%= image_tag "together.jpg", width: "390", height: "355"%>
Together We build more Achieve more ..


<h1> Ashish Wadekar </h1>
 <h3>  He is passionate about Ruby </h3>



   <h1> Prithviraj sukale</h1>
   <h3> Working at Big binary </h3>
