<p> We are happy to help You ..</p>
You want to become
Rails  STUDENT AMBASSADOR PROGRAM  !!!!!!!!!!!!!!!!!!!!!
<h1>
We have currently happy to announce  accepting applications for the Campus Ambassador Program.
</h1> Please check back in at a later date.


  <%= link_to "Register here " , new_user_path, class: "btn btn-lg btn-success" %>
