<P>
   <h1> Rails Girls Pune </h1>
21st January 2018
Namaskar world!
<h3>
Rails Girls comes to Pune on Sunday, January 21st!
<br>
During the one day workshop for women, we'll dive into the magical world of Ruby on Rails. This event is for beginner women who want to learn more about coding and building things.</h3>

Follow @RailsGirlsPune on Twitter for the latest updates!
<br>


You can also check out our facebook page here

Registrations Closed!


You learn designing, prototyping and coding with the help from our coaches.

<%= image_tag "railsfb_2.jpg", width: "690", height: "355"%>
