
<div class="container light">
  <div class="wrapper">
    <div id="logo_left">
      <%= image_tag "railgirl_img.png", width: "590", height: "105"%>
    </div>
    <div id="logo_right">
      <form>
        <input id ="textstyle" type="text" name="textbox"/>
        <input  id ="button" type="button" name="search" value="search"/>
      </form>
    </div>
    <div id="clear">
    </div>
</div>
</div>

<%= image_tag "railsfb_1.jpg", width: "690", height: "355"%>
<!--
<div class="container medium">
  <div class="wrapper">
    MENU
  </div>
</div>-->
