
  <%= image_tag "rgsoc_logo.png", width: "590", height: "335"%>
  Coming Soon Register here ....
  <h1>
  last Date of Registrations 24 jan 2018 </h1>
  <a href="https://railsgirlssummerofcode.org/">RGSOC Registrations</a>
