
<p>
  <h1> ABOUT RUBYCONF INDIA </h1>
  <h2>
RubyConf India is a global event complementing other RubyConf events across the world.</h2>


This year our event is a 2 day, single track event focused on Ruby Language, Framework and Tools.
Note: The conference is entirely in English.</p>

<%= image_tag "ruby_conf_logo.svg", width: "690", height: "355"%>
<h1>
  FAQ </h1>


  <h4>
    Q. I had purchased a conference ticket but now my plan has changed. Will you refund my money?
  </h4>
  <h5>
We had mentioned at the time of buying the ticket, that it is non-refundable. <br>
However, we will try and help you find buyers for your ticket. Once you sell your ticket
<br> do inform us the purchaser's name so that we can print the attendee badge in his/her name.
<h5>
  
